.cate-slider {
    height: 100vh;
    max-height: 1080px;

    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
    margin-top: calc(#{$header-height} * -1);
    @include tablet {
        margin-top: calc(#{$header-tablet-height} * -1);
    }
    @include mobile {
        margin-top: calc(#{$header-mobile-height} * -1);
    }
    &__item {
        @include flex(center, space-between);
        opacity: 0;
        position: absolute;
        inset: 0;
        @include tablet {
            flex-direction: column-reverse;
            padding-top: $header-tablet-height;
        }
        @include mobile {
            padding-top: unset;
            padding-bottom: 40px;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
        &__info {
            width: 58.33%;
            transform: translateX(-100%);
            transition: transform 0.5s ease-in-out;
            @include tablet {
                width: 100%;
            }
            &__title,
            &__desc {
                margin-bottom: 60px;
                @include tablet {
                    margin-bottom: 25px;
                }
                @include mobile {
                    margin-bottom: 20px;
                }
            }
            &__title {
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-weight: 600;
                font-size: 4.5rem;
                line-height: 6.75rem;
                overflow: hidden;
                @include tablet {
                    font-size: 3.5rem;
                    text-align: center;
                    line-height: 4rem;
                }
                @include mobile {
                    font-size: 3rem;
                    text-align: center;
                    line-height: 3.5rem;
                }
            }
            &__desc {
                color: $text-second-color;
                font-size: 1.5rem;
                line-height: 2.5rem;
                overflow: hidden;
                @include tablet {
                    font-size: 1.3rem;
                }
                @include mobile {
                    font-size: 1.1rem;
                }
            }
            &__btn {
                overflow: hidden;
                @include tablet {
                    margin-bottom: $header-tablet-height;
                    text-align: center;
                }
                @include mobile {
                    margin-bottom: $header-mobile-height;
                    text-align: center;
                }
            }
        }
        &__img {
            flex-grow: 1;
            position: relative;
            z-index: 99;
            height: 100%;
            pointer-events: none;
            @include tablet {
                width: 100%;
                height: 60%;
                @include flex(center, center);
                flex-grow: unset;
                z-index: 98;
            }
            img {
                height: 100vh;
                position: absolute;
                bottom: 0;
                right: 0;
                transform: scale(0) rotate(120deg);
                transition: transform 0.5s
                    cubic-bezier(0.175, 0.885, 0.32, 1.275);
                @include tablet {
                    height: 100%;
                    position: relative;
                }
            }
            .shape {
                $size: 472px;
                height: $size;
                width: $size;
                position: absolute;
                right: 0;
                top: 50%;
                border-radius: 50% 50% 49% 51% / 49% 43% 57% 51%;
                transform: translate(-20%, -50%);
                transition: border-radius 13s ease;

                animation: border 10s infinite ease-in-out alternate;
                @include tablet {
                    $size: 250px;
                    height: $size;
                    width: $size;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
            }
        }
        &.active &__info {
            transform: translateX(0%);
        }
        &.active &__img img {
            transform: scale(1) rotate(0);
        }
    }
    &__control {
        @include flex(center, center);
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        &__item ~ &__item {
            margin-left: 10px;
        }
        &__item {
            @include flex(center, center);
            font-size: 2rem;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
            .index {
                font-size: 1.5rem;
            }
        }
    }
}
@keyframes border {
    0% {
        border-radius: 21% 79% 14% 86% / 75% 22% 78% 25%;
    }
    50% {
        border-radius: 61% 39% 43% 57% / 39% 59% 41% 61%;
    }
    100% {
        border-radius: 86% 14% 73% 27% / 47% 37% 63% 53%;
    }
}
